<script>
    $(document).ready(function() {
   $("#calendar").fullCalendar({
     theme: true,
     header: {
     left: "prev,next today",
     center: "title",
     right: "month,agendaWeek,agendaDay"
     },
     events: 'events.json',
     defaultView: "month",
     height: 1000,
     slotMinutes: 15
  });
});

</script>


<br>
<br>

<div class=wrapper-calendar>
    <br>
    <li><%= link_to 'New Event', new_event_path %></li>
    <div id="calendar"></div>
</div>





