<div class=wrapper>
    <div class=wrapper2>

    <h1>Editing Document</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @document %> |
    <%= link_to 'Back', documents_path %>
    
    </div>
</div>
